# ðŸ“˜ Working with HR Schema

In this exercise, we will solve the following use cases on the **HR sample database**.  
Each requirement is given below as a separate task.

#### ðŸ”¹ Use Case 1
> **Describe all the tables** available in the HR schema and explain how the tables are related to each other.

#### ðŸ”¹ Use Case 2
> Retrieve the **last name** and **email** of all employees.

#### ðŸ”¹ Use Case 3
> Retrieve **all columns** from the `departments` table.

#### ðŸ”¹ Use Case 4
> Retrieve the **last name, first name, salary**, and **salary + 300** as an incremented salary from the `employees` table.

#### ðŸ”¹ Use Case 5
> Retrieve the **last name, salary, commission percentage, and annual salary** of employees.  
> Formula:  
> `annual_salary = (salary + (commission_pct * salary)) * 12`

#### ðŸ”¹ Use Case 6
> Find the **IDs of departments** in which employees are working.

#### ðŸ”¹ Use Case 7
> Display the **last name, job ID, and department ID** of the employee whose last name is **Whalen**.

#### ðŸ”¹ Use Case 8
> Retrieve the **last name** and **salary** of all employees who have a **salary greater than 5000** and work in **department 90**.

#### ðŸ”¹ Use Case 9
> Retrieve the **last name, salary, and hire date** of all employees working in departments **60** and **90** who were hired **after 1-JAN-07**.  
> Sort the data so that the **most recently hired employees** appear first.

#### ðŸ”¹ Use Case 10
> Retrieve the **last name** and **salary** of all employees working as **SA_REP** or **AD_PRES** with a **salary greater than 5000**.  
> Sort the results in **ascending order of last name**.

#### ðŸ”¹ Use Case 11
> Retrieve the **last names** of employees whose **second-last character** in their last name is **e**.

#### ðŸ”¹ Use Case 12
> Retrieve the **salary and last name** of all employees whose **manager_id** is **100, 101, or 201**.

#### ðŸ”¹ Use Case 13
> Retrieve the **salary and last name** of all employees whose **salary** is between **5000 and 10000**.

#### ðŸ”¹ Use Case 14
> Retrieve the **names of employees** who **do not have managers**.

#### ðŸ”¹ Use Case 15
> Find the **average, sum, maximum, and minimum salary** of all employees.

#### ðŸ”¹ Use Case 16
> Find the **count of employees** and the **count of departments**.

#### ðŸ”¹ Use Case 17
> Find the **count of department IDs** in the `employees` table.

#### ðŸ”¹ Use Case 18
> Find the **average salary** for all employees in each department, where the average salary is **greater than 5000**.

#### ðŸ”¹ Functions Exploration
> Demonstrating single-row and date functions on the HR schema.

#### ðŸ”¹ Use Case 19
> Find the **employee name** and the **department name** in which the employee is working.

#### ðŸ”¹ Use Case 20
> Find the **salary** and the **region name** in which employee **Ernst** is working.

#### ðŸ”¹ Use Case 21a
> Find all **department names** and the **manager names** of each department.

#### ðŸ”¹ Use Case 22
> Find all **department names** and the **manager names** of each department, including departments that **do not have managers**.

#### ðŸ”¹ Use Case 23
> Find all **department names** which do **not have any employees**.

#### ðŸ”¹ Use Case 24
> Find the **names of employees** who are **not managing any department**.