
##  SQL Window Functions
The notebook covers:
- Database and table creation
- Sample data loading
- Window functions:
  - `ROW_NUMBER`
  - `RANK`
  - `DENSE_RANK`


## Create a Sample Database

In [ ]:

CREATE DATABASE IF NOT EXISTS retail_analytics;

In [ ]:
USE retail_analytics;


## Create Products Table

In [ ]:

CREATE TABLE IF NOT EXISTS products (
    product_id INT PRIMARY KEY AUTO_INCREMENT,
    category VARCHAR(50),
    product_name VARCHAR(100),
    total_sales INT
);


## Load Sample Data

In [ ]:

INSERT INTO products (category, product_name, total_sales) VALUES
('Electronics', 'iPhone 17', 120),
('Electronics', 'Samsung Galaxy S25', 115),
('Electronics', 'OnePlus Nord CE5', 115),
('Electronics', 'Redmi A4', 100),
('Electronics', 'Vivo V27', 100),
('Electronics', 'Realme Narzo', 95),
('Electronics', 'Samsung Galaxy A55', 90),
('Electronics', 'iPhone 16 Pro', 85);


## View the Table

In [ ]:

SELECT *
FROM products;


## Rank products based on how many units they sold, where higher sales indicate higher popularity