# Window Functions - LEAD() and LAG()

### Create Sample Sales Table
We create a simple sales table with orders, products, and amounts to demonstrate window functions.

In [ ]:
CREATE TABLE sales (
    order_id   INT,
    order_date DATE,
    product    VARCHAR(50),
    amount     INT
);

In [ ]:
INSERT INTO sales VALUES
(1, '2025-01-05', 'Laptop', 1000),
(2, '2025-01-10', 'Phone',  500),
(3, '2025-01-20', 'Tablet', 300),
(4, '2025-02-02', 'Laptop', 1200),
(5, '2025-02-05', 'Phone',  600),
(6, '2025-02-15', 'Tablet', 400);

### View Data
Check the contents of the sales table.

In [ ]:
SELECT *
FROM sales
ORDER BY order_date;