# Window Functions - LEAD() and LAG()

### Create Sample Sales Table
We create a simple sales table with orders, products, and amounts to demonstrate window functions.

In [ ]:
CREATE TABLE sales (
    order_id   INT,
    order_date DATE,
    product    VARCHAR(50),
    amount     INT
);

In [ ]:
INSERT INTO sales VALUES
(1, '2025-01-05', 'Laptop', 1000),
(2, '2025-01-10', 'Phone',  500),
(3, '2025-01-20', 'Tablet', 300),
(4, '2025-02-02', 'Laptop', 1200),
(5, '2025-02-05', 'Phone',  600),
(6, '2025-02-15', 'Tablet', 400);

### View Data
Check the contents of the sales table.

In [ ]:
SELECT *
FROM sales
ORDER BY order_date;

SELECT order_id, order_date, product, amount
FROM sales;

### Extract the month (so we can group by month)

In [ ]:
SELECT
  order_id,
  order_date,
  product,
  amount,
  DATE_FORMAT(order_date, '%Y-%m') AS order_month
FROM sales;

### Monthly total (basic aggregation)

In [ ]:
SELECT
  DATE_FORMAT(order_date, '%Y-%m') AS order_month,
  SUM(amount) AS monthly_total
FROM sales
GROUP BY DATE_FORMAT(order_date, '%Y-%m');

### Add a running total across the whole table

In [ ]:
SELECT
  order_id,
  order_date,
  product,
  amount,
  SUM(amount) OVER (ORDER BY order_date) AS running_total
FROM sales;

### Running total for each month

In [ ]:
SELECT
  order_id,
  order_date,
  product,
  amount,
  SUM(amount) OVER (
    PARTITION BY DATE_FORMAT(order_date, '%Y-%m')
    ORDER BY order_date
  ) AS running_total
FROM sales;

### Using LEAD Function
The `LEAD` function allows you to look ahead at the value of a column in the next row within the same partition.
Here, we find the **next order's amount** within the same month, along with the monthly total.

In [ ]:
SELECT order_id,
       order_date,
       product,
       amount,
       LEAD(amount) OVER (
         PARTITION BY DATE_FORMAT(order_date, '%Y-%m')
         ORDER BY order_date, order_id
       ) AS next_order_amount,
       SUM(amount) OVER (
         PARTITION BY DATE_FORMAT(order_date, '%Y-%m')
       ) AS monthly_total
FROM sales
ORDER BY order_date;

### Using LAG Function
The `LAG` function allows you to look back at the value of a column in the previous row within the same partition.
Here, we find the **previous order's amount** within the same month, along with the monthly total.

In [ ]:
SELECT order_id,
       order_date,
       product,
       amount,
       LAG(amount) OVER (
         PARTITION BY DATE_FORMAT(order_date, '%Y-%m')
         ORDER BY order_date, order_id
       ) AS previous_order_amount,
       SUM(amount) OVER (
         PARTITION BY DATE_FORMAT(order_date, '%Y-%m')
       ) AS monthly_total
FROM sales
ORDER BY order_date;