## CTAS (CREATE TABLE AS SELECT) 
CTAS is commonly used to create a new table from the result of a query.

### Create a Sample Source Table

We create a small table and insert sample data.

In [ ]:
CREATE TABLE sales (
    order_id INT,
    order_date DATE,
    amount DECIMAL(10,2)
);

In [ ]:
INSERT INTO sales VALUES
(1, '2025-01-01', 100.00),
(2, '2025-01-01', 150.00),
(3, '2025-01-02', 200.00),
(4, '2025-01-02', 50.00);

### Query the Source Table

Calculate total sales amount per day.

In [ ]:
SELECT order_date, SUM(amount) AS daily_total
FROM sales
GROUP BY order_date;

### Create a Table Using CTAS

CTAS creates a new table directly from the SELECT query.

In [ ]:
CREATE TABLE daily_sales_summary AS
SELECT
    order_date,
    SUM(amount) AS daily_total
FROM sales
GROUP BY order_date;

### Query the New Table

In [ ]:
SELECT * FROM daily_sales_summary;

### Summary

- CTAS creates and populates a table in one step
- Data types come from the SELECT output
- Indexes and constraints must be added separately