# DDL commands include:
- ALTER TABLE (add, modify, drop columns)
- Add/Drop Constraints 
- DROP TABLE
- TRUNCATE TABLE
- RENAME

### DDL (Data Definition Language) in SQL

DDL statements are used to **define, modify, and manage the structure of database objects** such as tables, schemas, and constraints. These commands affect the database schema rather than the data stored inside the tables.

#### Common DDL Statements

- **CREATE**  
  Used to create new database objects like tables, databases, indexes, and views.  
  Example: creating a table with columns and data types.

- **ALTER**  
  Used to modify the structure of an existing database object.  
  This includes adding, modifying, or dropping columns, and adding or removing constraints.

- **DROP**  
  Used to permanently remove database objects from the database.  
  Once dropped, both the structure and the data are lost.

- **TRUNCATE**  
  Used to remove all rows from a table quickly while keeping the table structure intact.  
  It is faster than DELETE and cannot be rolled back in most databases.

- **RENAME**  
  Used to change the name of an existing database object, such as a table.

#### Key Characteristics of DDL

- DDL statements **change the schema**, not the data itself.
- They are generally **auto-committed**, meaning changes are saved immediately.
- Rolling back DDL operations is usually **not possible**.
- DDL commands are typically executed by database administrators or during schema design and migrations.

DDL forms the **foundation of database design**, defining how data is organized, stored, and maintained within a relational database.

## 1) ALTER TABLE
Used to modify the structure of an existing table.

### a) Add Column

In [ ]:
DROP TABLE IF EXISTS cust_alter;

In [ ]:
CREATE TABLE cust_alter (
    customer_id INT PRIMARY KEY,
    customer_name VARCHAR(50)
);

In [ ]:
DESCRIBE cust_alter;

In [ ]:
ALTER TABLE cust_alter ADD phone VARCHAR(15);

In [ ]:
DESCRIBE cust_alter;

### b) Modify Column

In [ ]:
ALTER TABLE cust_alter MODIFY phone VARCHAR(30);

In [ ]:
DESCRIBE cust_alter;

### c) Drop Column

In [ ]:
ALTER TABLE cust_alter DROP COLUMN phone;

In [ ]:
DESCRIBE cust_alter;

## 2) Add / Drop Constraints using ALTER TABLE

In [ ]:
DROP TABLE IF EXISTS cust_cons;

In [ ]:
CREATE TABLE cust_cons (
    customer_id INT,
    customer_name VARCHAR(50)
);

In [ ]:
DESCRIBE cust_cons;

### a) Add Primary Key Constraint

In [ ]:
ALTER TABLE cust_cons
ADD CONSTRAINT pk_cust PRIMARY KEY (customer_id);

In [ ]:
DESCRIBE cust_cons;

### b) Drop Primary Key Constraint

In [ ]:
ALTER TABLE cust_cons DROP PRIMARY KEY;

In [ ]:
DESCRIBE cust_cons;

## 3) DROP TABLE
Deletes the entire table structure and data. Cannot be recovered.

### Example

In [ ]:
DROP TABLE IF EXISTS orders_drop;

In [ ]:
CREATE TABLE orders_drop (
    order_id INT,
    order_date DATE
);

In [ ]:
DESCRIBE orders_drop;

In [ ]:
DROP TABLE IF EXISTS orders_drop;

## 4) TRUNCATE TABLE
Deletes all rows from a table quickly. Table structure remains.

### Example

In [ ]:
DROP TABLE IF EXISTS orders_trunc;

In [ ]:
CREATE TABLE orders_trunc (
    order_id INT,
    order_date DATE
);

In [ ]:
INSERT INTO orders_trunc (order_id, order_date) VALUES
(101, '2025-01-10'),
(102, '2025-01-11');

In [ ]:
SELECT * FROM orders_trunc;

In [ ]:
TRUNCATE TABLE orders_trunc;

In [ ]:
SELECT * FROM orders_trunc;

## 5) RENAME TABLE
Used to rename a table.

### Example

In [ ]:
DROP TABLE IF EXISTS cust_rename;

In [ ]:
CREATE TABLE cust_rename (
    customer_id INT,
    customer_name VARCHAR(50)
);

In [ ]:
DESCRIBE cust_rename;

In [ ]:
RENAME TABLE cust_rename TO cust_rename_new;

In [ ]:
DESCRIBE cust_rename_new;

## Cheat Sheet
| Command  | Purpose | Syntax Example | Notes |
|----------|---------|----------------|-------|
| ALTER    | Change structure | `ALTER TABLE t ADD col VARCHAR2(20)` | Add/modify/drop columns & constraints |
| DROP     | Delete table | `DROP TABLE t` | Deletes structure & data |
| TRUNCATE | Remove all rows | `TRUNCATE TABLE t` | Faster than DELETE, cannot rollback |
| RENAME   | Rename object | `RENAME old TO new` | Works on tables, views, synonyms |