
## MySQL Date & Time Functions


## Current Date

`CURDATE()` returns the current date without time.

In [ ]:

SELECT CURDATE() AS today;


## Tomorrow's Date

Dates can be incremented using `INTERVAL`.

In [ ]:

SELECT CURDATE() + INTERVAL 1 DAY AS tomorrow;


## Yesterday's Date

In [ ]:

SELECT CURDATE() - INTERVAL 1 DAY AS yesterday;


## Date Difference Using Same Date

In [ ]:

SELECT DATEDIFF(CURDATE(), CURDATE()) AS date_difference;


## Date Difference

In [ ]:
SELECT DATEDIFF(CURDATE(), '2025-01-23') AS date_difference;


## Formatting Date (DD/MM/YY)

In [ ]:

SELECT DATE_FORMAT(CURDATE(), '%d/%m/%y') AS formatted_date;


## Day Name in Uppercase

In [ ]:

SELECT UPPER(DAYNAME(CURDATE())) AS day_name_upper;


## Day Name in Lowercase

In [ ]:

SELECT LOWER(DAYNAME(CURDATE())) AS day_name_lower;


## Abbreviated Day Name

In [ ]:

SELECT DATE_FORMAT(CURDATE(), '%a') AS day_abbreviation;


## Current Timestamp

In [ ]:

SELECT NOW() AS current_time;

## Current Time

In [ ]:
SELECT current_time();


## Extract Time from Timestamp

In [ ]:

SELECT DATE_FORMAT(CURRENT_TIMESTAMP(), '%H:%i:%s') AS current_time;


## String to Date Conversion

In [ ]:

SELECT STR_TO_DATE('24/09/25', '%d/%m/%y') AS converted_date;


## Last Day of Current Month

In [ ]:

SELECT LAST_DAY(CURDATE()) AS month_end;